html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my design */
body {
  background-color: #f3f0e9;
}

body, button, p {
  font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, nav {
  font-family: 'Lato', sans-serif;
}

.wrap {
  width: 100%;
  margin: auto;
  max-width: 1200px;
}

.skip-link {
  position: absolute;
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 10px;
  top: -400px;
  left: 0px;
}

h1 {
  font-size: 2.027rem;
}
h2 {
  font-size: 1.802rem;
}
h3 {
  font-size: 1.424rem;
}
p {
  font-size: 16px;
}

/* MY COFFE HOUSE HEADER */
header {
  background-color: #000;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  padding-top: 40px;
}

.logo img {
  height: 50px;
  margin-bottom: 20px;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.nav ul li {
  margin: 0 30px;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.em;
}

nav {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

nav ul {
  display: flex;
}

/* EXPERIENCE COFFEE LIKE NEVER BEFORE */
.experience {
  background-image: url(../images/hero-background.jpg);
  background-size: cover;
  background-position: 0 32%;
  height: 450px;
  position: relative;
}

.experience-text {
  color: #ffffff;
  background-color: #0000008a;
  text-align: center;
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience-text h1 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 70%;
}

.experience-text p {
  margin-bottom: 35px;
  max-width: 50%;
  line-height: 20px;
}

.explore-b {
  background-color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  padding: 15px 30px;
}

.explore-b:hover {
  background-color: #d69e3d;
}

/* WELCOME TO MY COFFEE HOUSE */
.welcome-content {
  max-width: 55%;
  margin: 100px 0 40px 0;
  padding-left: 15px;
}

.welcome-content p {
  color: #d69e3d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.welcome-content h2 {
  padding-top: 20px;
  font-weight: bold;
  line-height: 35px;
}

.welcome-image {
  display: grid;
  
}