body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3f0e9;
  color: #333;
}

header {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  text-align: center;
  padding-top: 50px;
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .logo img {
  height: 50px;
  margin-right: 10px;
}

header ul {
  font-weight: bold;
  font-size: 1.5rem;
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 30px;
}

header a {
  color: #fff;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  margin: 0 1.5rem;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px 16px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.hero {
    position: relative;
    color: #fff;
    height: 100vh; /* Full height */
    background: url('images/hero-background.jpg') no-repeat center center/cover; /* Full background image */
    background-size: cover;
    
}

.hero img {
  height: 100vh; /* Full height */
  background-size: cover;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 3.052rem; /* Adjust as needed */
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  margin: 0;
  z-index: 1;
}

.hero p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  width: 80%;
  z-index: 1;
}

.hero .button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  background-color: #fff;
  color: #000;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.hero .button:hover,
.hero .button:focus {
  background-color: #966f2c;
}

section {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

/* Welcom text style */
.welcome {
  color: #d69e3d;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.gallery img {
  width: 100%;
  height: auto;
}

.gallery img:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

/* feature section styles - Why visit us? */
.features {
  text-align: center;
}

.features .why {
  color: #d69e3d;
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
}

.feature {
  margin-bottom: 2rem; 
}

.feature img {
  display: block;
  margin: 0 auto 1rem;
  max-width: 300px; 
}

.feature h3 {
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  margin: 0.5rem 0;
}

.feature p {
  font-family: 'Karla', sans-serif;
  font-size: 2rem; 
  text-align: center;
  padding-bottom: 6rem;
  padding: 0 1.5rem;
}

/* Explore section styles */

.explore {
  position: relative;
  text-align: center;
}

.background-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../images/coffee-shop.jpeg') no-repeat center center/cover;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.explore-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #ffffff;
  width: 80%;
  padding: 2rem;
  text-align: center;
}

.explore-text h2 {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 2.75rem;
}

.explore-text p {
  color: #d69e3d;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  margin-bottom: 5px;
}

.explore-text .button-primary {
  background-color: #ffffff; 
  color: #000000; 
  text-align: center;
  text-decoration: none; 
  display: inline-block; 
  font-weight: bold; 
  font-size: 2rem; 
  padding: 1.5rem 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.explore-text .button-secondary {
  color: #ffffff;
  border: 4px solid #ffffff;
  text-align: center;
  text-decoration: none; 
  display: inline-block; 
  font-weight: bold; 
  font-size: 2rem; 
  padding: 1.5rem 3rem; 
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.explore .button:hover,
.explore .button:focus {
  background-color: #966f2c;
}

/* Read out story */
.story {
  display: flex;
  flex-direction: column;
}

.story-image {
  width: 100%;
  height: auto;
}

.story-content p.about {
  color: #d69e3d;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
}

.story-content h2 {
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  margin: 1rem 0;
  margin-top: auto;
}

.story-content p {
  font-family: 'Karla', sans-serif;
  font-size: 1.5rem;
}

.story-content .button {
  font-family: 'Karla', sans-serif;
  background-color: #000000;
  color: #ffffff;
  padding: 15px 2.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 1.5rem;
}


.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  text-align: left;
  border-radius: 0.5rem;
  overflow: hidden;
}



/* Testimonials section, What our customers say about us */
#testimonials {
  background-color: #000000; 
  color: #ffffff; 
  padding: 2rem;
}

.testimonials p.content {
  color: #d69e3d;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
}

#testimonials h2 {
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.testimonial {
  position: relative;
  width: 100%;
  margin: 1rem auto;
}

.testimonial img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;

}

.testimonial-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  padding: 1rem;
  text-align: left;
}

.testimonial-text p {
  margin: 0.5rem 0;
}

.testimonial-text p:last-child {
  color: #d69e3d;
  font-weight: bold;
}


footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0;
  border-top: 1px solid #fff; 
  padding-bottom: 4rem;
}

footer p {
  margin: 0; 
  padding: 0.5rem 0; 
}

/* Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1099px) {

}

/* Desktop Styles */
@media (min-width: 1100px) {

}